* {
    margin: 0px;
    padding: 0px;
}
h1{font: bold 20px Tahoma;}
h2{font: bold 14px Tahoma;}
header, section, footer, aside, nav, article, hgroup{
    display: block;
}
body{
    text-align: center;
}
#bigWrapper{
    border: 1px solid purple;
    width: 1000px;
    margin: 20px;
    text-align: left;
}
#topHeader{background-color: red;
border: 1px solid black;
padding: 20px;}
#topMenu{
background-color: blue;
color: white;}
#topMenu li {
display: inline-block;
list-style: none;
padding: 5px;
font: bold 14px Tahoma;}
#mainSection{
    float:left;
    width:660px;
    margin:30px;/*720 total px, 280 left*/
}
#sideNews{
    float:left;
    width:220px;
    margin:20px 0px;
    padding:30px;
    background: orangered;
}
#pageFooter{
    clear:both;
    text-align: center;
    padding: 20px;
    border-top:2px solid aqua;
}
article{
    background: deeppink;
    border: 1px solid purple;
    padding:20px;
    margin-bottom: 15px;
}
article > footer{
    text-align: right;
}